<div class="garage-container" *ngIf="garage">
  <div class="garage-header">
    <div class="garage-info">
      <h1 class="garage-name">{{ garage.GarageName }}</h1>
      <p class="garage-address">{{ garage.Address }}</p>
      <p class="garage-capacity">
        Capacity: {{ garage.Capacity }} spots | Occupancy: {{ garage.Occupancy }}
      </p>
      <div class="garage-policy">
        <p>Our Policy:</p>
        {{ garage.Policy }}
      </div>
    </div>
        
    <div class="garage-image" *ngIf="garage.Images.length">
      <img src="{{ garage.Images}}" alt="Garage Image" />
    </div>
  </div>

  <div class="map">
    <!-- Parking map component -->
    <app-parking-map [address]="garage!.Address"></app-parking-map>
  </div>

  

  <div class="garage-features">

    <div class="feature opening-hours">
      <p class="feature-title"><i class="fas fa-clock"></i> Opening Hours:</p>
      <ul>
        <div *ngFor="let hours of garage?.OpeningHours">
  {{ hours }}
</div>
      </ul>
    </div>

    <div class="feature rates">
      <p><i class="fas fa-dollar-sign"></i> Our Prices:</p>
      Hourly: {{ garage.Rates.HourlyRate | currency }}<br />
      Daily: {{ garage.Rates.DailyRate | currency }}<br />
      Monthly: {{ garage.Rates.MonthlyRate | currency }}
    </div>

    <div class="feature ev-charging">
      <p class="feature-title"><i class="fas fa-tools"></i> Our Facilities:</p>
      <div>
        <i class="fas fa-charging-station"></i> EV Charging Stations:
        {{ garage.Facilities.EVChargingStations }}
        <div *ngIf="garage.Facilities.HandicapAccessible">
          <i class="fas fa-wheelchair"></i> Handicap Accessible
        </div>
      </div>
    </div>

    <div class="feature vehicle-types">
      <p><i class="fas fa-car"></i> Vehicle Types Allowed:</p>
<ul>
  <li *ngFor="let type of garage?.VehicleTypes">{{ type }}</li>
</ul>
    </div>
  </div>

  <div *ngIf="garage.ReservationAvailable" class="reserve-button">
    <button>Reserve</button>
  </div>
</div>
