.app-footer {
  background-color: #11111F;
  color: white;
  padding: 1rem;
  text-align: center;
  .container {
    max-width: 1200px;
    margin: auto;

    p {
      margin: 0.5rem;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin: 0 0.5rem;
        color: white;

        i {
          font-size: 24px;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
