.reservation-container {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  max-width: 95%; /* Increased responsive max-width */
  width: auto; /* Adapt width to the size of its content */
  padding: 80px; /* Increased padding for more space */
  margin: 5vh auto; /* Centered vertically with some space from the top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 118px;

  /* Larger screens will have a fixed max-width */
  @media (min-width: 768px) {
    max-width: 800px; /* Increased fixed max-width for larger screens */
  }

  h2 {
    text-align: center;
    font-size: 2.5em; /* Slightly larger title for better readability */
    color: #333;
    margin-bottom: 40px; /* Increased space below the title */
  }

  .dropdown-group {
    margin-bottom: 30px; /* Increased space between form items */

    label {
      display: block;
      margin-bottom: 15px; /* Increased space below the label */
      font-size: 1.4em; /* Increased visible label size */
      color: #555;
    }

    select {
      width: 100%; /* Full width of the container */
      padding: 20px 15px; /* Increased padding for ease of interaction */
      font-size: 1.2em; /* Increased legible font size for content */
      border-radius: 4px; /* Rounded corners */
      border: 1px solid #ccc; /* Subtle border */
    }
  }

  button {
    display: block;
    width: 100%; /* Button stretches to the container's width */
    padding: 20px; /* Increased padding to make the button more prominent */
    font-size: 1.4em; /* Increased sizeable text in the button */
    border: none; /* No border */
    background-color: #11111F; /* Dark background for the button */
    color: white; /* Text color for contrast */
    border-radius: 4px; /* Matching border-radius */
    margin-top: 30px; /* Increased margin above the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Transition for hover effect */

    &:hover {
      background-color: #003d82; /* Color change on hover */
    }
  }
}
