.reservation-container {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  max-width: 90%; /* Responsive max-width */
  width: auto; /* Adapt width to the size of its content */
  padding: 60px; /* Comfortable padding */
  margin: 5vh auto; /* Centered vertically with some space from the top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Larger screens will have a fixed max-width */
  @media (min-width: 768px) {
    max-width: 600px; /* Fixed max-width for larger screens */
  }

  h2 {
    text-align: center;
    font-size: 2em; /* Larger title for better readability */
    color: #333;
    margin-bottom: 30px; /* Added space below the title */
  }

  .dropdown-group {
    margin-bottom: 20px; /* Space between form items */

    label {
      display: block;
      margin-bottom: 10px; /* Space below the label */
      font-size: 1.2em; /* Visible label size */
      color: #555;
    }

    select {
      width: 100%; /* Full width of the container */
      padding: 15px 10px; /* Padding for ease of interaction */
      font-size: 1.1em; /* Legible font size for content */
      border-radius: 4px; /* Rounded corners */
      border: 1px solid #ccc; /* Subtle border */
    }
  }

  button {
    display: block;
    width: 100%; /* Button stretches to the container's width */
    padding: 15px; /* Enough padding to make the button prominent */
    font-size: 1.2em; /* Sizeable text in the button */
    border: none; /* No border */
    background-color: #11111F; /* Dark background for the button */
    color: white; /* Text color for contrast */
    border-radius: 4px; /* Matching border-radius */
    margin-top: 20px; /* Margin above the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Transition for hover effect */

    &:hover {
      background-color: #003d82; /* Color change on hover */
    }
  }
}